* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.capturedPieces {
  height: 6px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
}

.button {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-size: 20px;
  height: 50px;
  width: 150px;
  background-color: lightgrey;
  text-transform: uppercase;
  font-weight: 550;
}

.button--reset {
  margin-top: 5px;
  border-radius: 12px;
  border: .8px solid black;
  font-weight: 650;
}

.button--reset:hover {
  background-color: rgba(255, 0, 0, 0.75);
  color: white;
  font-weight: 900;
}

.button--color {
  border: 2px solid black;
  font-size: 28px;
  width: 200px;
  height: 75px;
  margin-top: 60px;
}

.button--white:hover {
  background-color: white;
  font-weight: 900;
}

.button--black:hover {
  background-color: black;
  font-weight: 900;
  color: white;
}

.question {
  margin-top: 300px;
  text-transform: uppercase;
  font-weight: 650;
  font-size: 50px;
}

.buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.board {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px (90px)[8];
      grid-template-columns: 20px repeat(8, 90px);
  -ms-grid-rows: (90px)[8] 20px;
      grid-template-rows: repeat(8, 90px) 20px;
  grid-auto-flow: row;
}

.grid__square {
  width: 90px;
  height: 90px;
  border: 1px solid darkgray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid__square--black {
  background-color: rgba(0, 0, 0, 0.333);
}

.grid__square--white {
  background-color: rgba(255, 255, 255, 0.666);
}

.grid__square--name {
  padding: auto;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.grid__square--nameCol {
  text-transform: uppercase;
}

.grid__square--nameRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.piece {
  width: 60px;
  height: 60px;
  border-radius: 60px;
  border: 2.5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.piece--black {
  background-color: black;
  border-color: white;
}

.piece--black .piece--queenDecoration {
  border-color: white;
}

.piece--white {
  background-color: white;
  border-color: black;
}

.piece--white .piece--queenDecoration {
  border-color: black;
}

.piece--queenDecoration {
  border-radius: 60px;
  width: 30px;
  height: 30px;
  background-color: darkgray;
  border: 1.5px solid;
}

.piece__mini {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1.5px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.piece__mini--white {
  border-color: black;
  background-color: white;
}

.piece__mini--black {
  border-color: white;
  background-color: black;
}

.piece__mini--queen {
  border-radius: 50%;
  background-color: darkgrey;
  width: 3px;
  height: 3px;
}

.piece:hover .piece--queenDecoration,
#pieceClicked .piece--queenDecoration {
  background-color: rgba(153, 0, 0, 0.75);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#pieceClicked,
.piece:hover {
  background-color: rgba(255, 0, 0, 0.75);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.legalMove {
  width: 30px;
  height: 30px;
  border-radius: 90px;
  background-color: #77c1f7;
  border: 1px solid black;
}

.gameInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 550;
}

.gameInfo__turnCounter {
  margin-left: 450px;
}

.gameInfo__turnCounter span {
  font-weight: 700;
}

.gameInfo__whoToMove span {
  font-weight: 700;
  color: black;
  text-shadow: none;
}

.gameInfo__whoToMove span.white {
  color: white;
  -webkit-text-stroke: 0.8px black;
}
/*# sourceMappingURL=style.css.map */