.button {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    transition: 0.5s;
    height: 50px;
    width: 150px;
    background-color: mix(white, lightgrey);
    text-transform: uppercase;
    font-weight: 550;
    border: 1.5px solid black;

    &--game {
        margin-top: $minipieceSize / 2;
        border-radius: 12px;
        font-weight: 650;
        font-size: 22px;

        &:hover,
        &:active {
            background-color: $clickedColor;
            color: white;
            // font-weight: 900;
            // font-size: 26px;
        }
    }

    &--color {
        font-size: 1.6rem;
        margin-top: 60px;
        width: 200px;
        height: 75px;
    }

    &--white:hover,
    &--white:active {
        background-color: white;
        font-weight: 900;
        box-shadow: 0px 0px 40px 9px #808080;
        font-size: 1.8rem;
    }

    &--black:hover,
    &--black:active {
        background-color: black;
        font-weight: 900;
        color: white;
        box-shadow: 0px 0px 40px 9px #606060;
        font-size: 1.8rem;
    }
}

.button-container {
    display: flex;
    flex-flow: row;

    &--question {
        font-family: $secondaryFont;
        justify-content: space-between;
    }

    &--game {
        width: $boardSizeHorizontal;
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .button {
        &--color {
            width: 30vw;
            height: 45px;
        }

        &--white {
            background-color: white;
            font-weight: 900;
            // box-shadow: 0px 0px 40px 9px #808080;
            font-size: 1.8rem;
        }

        &--black {
            background-color: black;
            font-weight: 900;
            // box-shadow: 0px 0px 40px 9px #808080;
            color: white;
            font-size: 1.8rem;
        }

        &--game {
            width: 100px;
            height: 40px;
            font-size: 14px;
            border-radius: 8px;
        }

        &-container--game {
            // flex-flow: end;
            // justify-content: center;
            width: $boardSizeVertical;
        }
    }
}