html {
    font-family: $globalFont;
    font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    // overflow: none;
    justify-content: center;
    flex-flow: column;
    background-image: url(../img/what-the-hex.png);
}

@media (max-width: 700px) {
    html {
        font-size: clamp(10px, $nameSquareSizeVertical, 20px);
    }
}