.legal-move {
    width: $pieceSize / 2;
    height: $pieceSize / 2;
    border-radius: 50%;
    background-color: mix(aqua, violet);
    border: 1.5px solid black;
}

@media (max-width: 700px) {
    .legal-move {
        border-width: 1.2px;
    }
}