$squareSize: 90px;
$nameSquareSize: 20px;
$blackColor: rgba(0, 0, 0, 0.333);
$whiteColor: rgba(255, 255, 255, 0.666);
$clickedColor: rgba(255, 0, 0, 0.75);
$borderColor: darkgray;
$pieceSize: $squareSize * (2 / 3);
$minipieceSize: $pieceSize / 10;

body {
    display: flex;
    align-items: center;
    overflow: none;
    justify-content: center;
    flex-flow: column;
}

.capturedPiecesTop,
.capturedPiecesBottom {
    height: $minipieceSize;
    margin: 10px;
    display: flex;
    flex-flow: row;
}

.button {
    margin-top: 5px;
    margin-right: 30px;
    height: 50px;
    width: 150px;
    text-transform: capitalize;
    font-size: 18px;
    // box-shadow: 0px 0px 123px -30px #000000;
    // background-color: darkgray;
    // color: white;
}

.board {
    display: grid;
    // grid: repeat(9, 80px) / repeat(9, 80px);
    grid-template-columns: $nameSquareSize repeat(8, $squareSize);
    grid-template-rows: repeat(8, $squareSize) $nameSquareSize;
    grid-auto-flow: row;
}

.grid__square {
    width: $squareSize;
    height: $squareSize;
    border: 1px solid $borderColor;

    display: flex;
    align-items: center;
    justify-content: center;

    // box-shadow:;
    &--black {
        background-color: $blackColor;
        // &Clicked {
        //     color: mix($blackColor, $clickedColor);
        // }
    }

    &--white {
        background-color: $whiteColor;
    }

    &--name {
        // border: 1px solid $borderColor;
        padding: auto;
        text-align: center;
        font-weight: 700;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        &Col {
            text-transform: uppercase;
        }

        &Row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.piece {
    width: $pieceSize;
    height: $pieceSize;
    border-radius: $pieceSize;
    border: 2.5px solid;

    &--black {
        background-color: black;
        border-color: white;
    }

    &--white {
        background-color: white;
        border-color: black;
    }

    &--queen {
        border-radius: $pieceSize;
        width: $pieceSize / 2;
        height: $pieceSize / 2;
        background-color: gray;
    }
}

.piece__mini {
    width: $minipieceSize;
    height: $minipieceSize;
    border-radius: 50%;
    border: 1.5px solid;

    &--white {
        border-color: black;
        background-color: white;
    }

    &--black {
        border-color: white;
        background-color: black;
    }

}

#pieceClicked,
.piece:hover {
    background-color: $clickedColor;
    transition: 0.3s;
}

.legalMove {
    width: $squareSize / 3;
    height: $squareSize / 3;
    border-radius: $squareSize;
    background-color: mix(aqua, violet);
    border: 1px solid black;
}

.gameInfo {
    display: flex;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 550;

    &__turnCounter {
        margin-left: $squareSize * 5;

        span {
            font-weight: 700;
        }
    }

    &__whoToMove {
        span {
            font-weight: 700;
            color: black;
            text-shadow: none;
            &.white {
                color: white;
                -webkit-text-stroke: 0.8px black;
            }
        }
    }
}