$boardSizeVertical: 90vw;
$boardSizeHorizontal: 80vh;
$nameSquareSizeVertical: 20 / 740 * $boardSizeVertical;
$nameSquareSizeHorizontal: 20 / 740 * $boardSizeHorizontal;
$pieceBorderThickness: clamp(1.2px, 85vmax * 0.0017, 2.2px);
$secondaryBorderThickness: clamp(0.8px, 85vmax * 0.0012, 1.5px);
// $thirdBorderThickness: clamp(0.5px, $boardSizeVertical * 0.0007, 0.8px);

$pieceSize: (2/3) * 100%;

$minipieceSize: 6px;

$globalFont: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
$secondaryFont: 'Cousine',
monospace;

$blackSquareColor: rgba(170, 170, 170, 0.7);
$whiteSquareColor: rgba(255, 255, 255, 0.7);
$clickedColor: #ea2b2b;
$borderColor: mix(darkgrey, black, 80%);
$colorTransitionTime: 0.3s;

//vertical screens
@media (max-width: 699px) {
    html {
        font-size: clamp(10px, $nameSquareSizeVertical, 20px);
    }
}

//horizontal screens
@media (min-width: 700px) {
    html {
        font-size: $nameSquareSizeHorizontal;
    }
}

html {
    font-family: $globalFont;
    // font-size: 20px;
}

body {
    display: flex;
    align-items: center;
    overflow: none;
    justify-content: center;
    flex-flow: column;
    background-image: url(../img/what-the-hex.png);
}

.board {
    overflow: none;
    display: grid;
    grid-template-columns: 0.2fr repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr) 0.2fr;
    grid-auto-flow: row;
}

.grid__square {
    border: .8px solid $borderColor;

    display: flex;
    align-items: center;
    justify-content: center;

    &--black {
        background-color: $blackSquareColor;
    }

    &--white {
        background-color: $whiteSquareColor;
    }

    &--name {
        padding: auto;
        text-align: center;
        font-weight: 700;
        font-size: 1rem;
        font-family: $secondaryFont;

        &Col {
            text-transform: uppercase;
        }

        &Row {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.capturedPieces {
    height: $minipieceSize;
    margin: $minipieceSize;
    display: flex;
    flex-flow: row;
}

.button {
    transition: 0.5s;
    font-size: 1rem;
    height: 50px;
    width: 150px;
    background-color: mix(white, lightgrey);
    text-transform: uppercase;
    font-weight: 550;

    &--reset {
        margin-top: $minipieceSize / 2;
        border-radius: 12px;
        border: $secondaryBorderThickness solid black;
        font-weight: 650;
        font-size: 20px;

        &:hover,
        &:active {
            background-color: $clickedColor;
            color: white;
            font-weight: 900;
        }
    }

    &--color {
        border: $secondaryBorderThickness solid black;
        font-size: 1.6rem;
        margin-top: 60px;
        width: 200px;
        height: 75px;
    }

    &--white:hover,
    &--white:active {
        background-color: white;
        font-weight: 900;
        box-shadow: 0px 0px 40px 9px #808080;
        font-size: 1.8rem;
    }

    &--black:hover,
    &--black:active {
        background-color: black;
        font-weight: 900;
        color: white;
        box-shadow: 0px 0px 40px 9px #606060;
        font-size: 1.8rem;
    }
}

.container {
    margin-top: 25vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.gameTitle {
    font-family: 'Fleur De Leah', cursive;
    align-self: center;
    font-size: 10rem;
}

.author {
    font-family: 'Cookie', cursive;
    font-size: 1rem;
    align-self: end;
    text-decoration: underline;
}

.question {
    text-transform: uppercase;
    font-weight: 650;
    font-size: 2.8rem;
    align-self: center;
    text-align: center;
    font-family: $secondaryFont;
}

.buttonContainer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-family: $secondaryFont;
}

.piece {
    width: $pieceSize;
    height: $pieceSize;
    border-radius: 50%;
    border: $pieceBorderThickness solid;
    display: flex;
    align-items: center;
    justify-content: center;

    &--black {
        background-color: black;
        border-color: white;

        & .piece--queenDecoration {
            border-color: white;
            background-color: mix(darkgrey, black, 50%);
        }

        &.piece--canMove {
            background-color: darken(mix(aqua, violet), 20%);
        }

        & .piece--canMove {
            background-color: mix(aqua, violet);
        }
    }

    &--white {
        background-color: white;
        border-color: black;

        & .piece--queenDecoration {
            border-color: black;
            background-color: mix(lightgrey, grey, 70%);
        }

        &.piece--canMove {
            background-color: mix(aqua, violet);

        }

        & .piece--canMove {
            background-color: darken(mix(aqua, violet), 20%);

        }
    }

    &--queenDecoration {
        border-radius: 50%;
        width: $pieceSize / 1.5;
        height: $pieceSize / 1.5;
        border: $secondaryBorderThickness solid;
    }


}

.miniPiece {
    width: $minipieceSize;
    height: $minipieceSize;
    border-radius: 50%;
    border: .6px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    &--white {
        background-color: white;
    }

    &--black {
        background-color: black;
        border-color: grey;
    }

    &--queen {
        background-color: darkgrey;
    }
}

.piece:hover .piece--queenDecoration,
#pieceClicked .piece--queenDecoration,
.piece:active .piece--queenDecoration {
    background-color: darken($clickedColor, 20%);
    transition: $colorTransitionTime;
}

#pieceClicked,
.piece:hover,
.piece:active {
    background-color: $clickedColor;
    transition: $colorTransitionTime;
}

.legalMove {
    width: $pieceSize / 2;
    height: $pieceSize / 2;
    border-radius: 50%;
    background-color: mix(aqua, violet);
    border: $secondaryBorderThickness solid black;
}

.gameInfo {
    display: flex;
    flex-direction: row;
    justify-content: end;
    text-transform: uppercase;
    font-weight: 550;

    &__turnCounter {
        span {
            font-weight: 700;
        }
    }

    &__whoToMove {
        // display: flex;
        // align-items: center;
        margin-right: auto;

        span {
            // margin-right: 5px;
            font-weight: 700;
            color: black;
            text-shadow: none;

            &.white {
                color: white;
                -webkit-text-stroke: 0.6px black;
            }
        }
    }
}

@media (max-width: 699px) {
    .board {
        width: $boardSizeVertical;
        height: $boardSizeVertical;
    }

    .gameInfo {
        width: $boardSizeVertical;
        margin-top: 15vh;
        font-size: 1.4rem;

        &__whoToMove {
            margin-left: $nameSquareSizeVertical;
        }
    }

    .container {
        width: 0.9 * $boardSizeVertical;
        margin-top: 30vh;
    }

    .question {
        font-size: 3rem;
    }

    .button {
        &--color {
            width: 30vw;
            height: 50px;
        }

        &--white {
            background-color: white;
            font-weight: 900;
            // box-shadow: 0px 0px 40px 9px #808080;
            font-size: 1.8rem;
        }

        &--black {
            background-color: black;
            font-weight: 900;
            // box-shadow: 0px 0px 40px 9px #808080;
            color: white;
            font-size: 1.8rem;
        }
    }
}

@media (min-width: 700px) {

    .board {
        width: $boardSizeHorizontal;
        height: $boardSizeHorizontal;
    }

    .gameInfo {
        width: $boardSizeHorizontal;
        font-size: 1rem;
        // margin-top: 25vh;

        &__whoToMove {
            margin-left: $nameSquareSizeHorizontal;
        }
    }

    .container {
        width: 0.8 * $boardSizeHorizontal;
    }

    .button {
        &--color {
            width: 200px;
            height: 75px;
        }
    }
}